<form action="" accept-charset="UTF-8" method="post">
  <div class="text-field">
    <label for="send_email">Receiver's Email</label>
    <input type="email" name="send[email]" id="send_email">
  </div>

  <div class="password-field">
  	<label for="send_email">Message</label>
    <textarea name="send[message]" id="send_message" rows="4" cols="50"></textarea>
  </div>

  <div class="submit-field">
    <input type="submit" name="sendmsg" value="Send message" data-disable-with="Send message">
  </div>

  <div class="other-links">
      <a href="/sign_up">Sign up</a>
    <a href="/passwords/new">Forgot password?</a>
  </div>
</form>

